Docdown/Resources/Wizards/Wizard.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="Wizard" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="Wizard">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Content" type="xs:string" minOccurs="1" maxOccurs="1"/>
        <xs:element name="Preview" type="FlowDocumentContent" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="Name" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="FlowDocumentContent">
    <xs:sequence>
      <xs:any processContents="skip" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  
</xs:schema>
